// VARIABLES
$pink:#ffe2ff;
$blue:#2d54ff;
// $blue:#4b4dff;
$black:#1e1e1e;
$grey:#707070;

html {
    scroll-behavior: smooth;
  }
body{
    margin:0;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color:$pink;
    // font-family: 'Roboto', sans-serif;
}
.contMargin{
    margin-top:10rem;
}
.jobstories{
    // margin-top:5%;
    div{
        // background-color:$blue;
        // border:1px solid $blue;
        // color:$black;
        background-color:white;
        margin-top:5%;
        color:$blue;
        font-weight:600;
        border-radius:10px;
    }
}
#viewResume{
    cursor:pointer;
    border:none;
    background-color:$blue;
    border-radius:60px;
    color:white;
    padding: 2% 9% 2% 9%;
    font-weight:500;
    font-size:20px;
}
strong{
    font-weight:600;
}
.info{
    a{
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
    cursor:none;
    }
}
.list{
    text-decoration:none;
    list-style: none;
}
.grey{
    color:$grey;
}
.blue{
    color:$blue;
}
.black{
    color:$black;
}
.direction{
    color:$blue;
    font-size:2rem;
}
.wComp{

        p{
            width:75%;
        }

}
#submitbtn{
    cursor:pointer;
}
#mailMe{
    cursor:pointer;
    border:none;
    background-color:$blue;
    border-radius:60px;
    color:white;
    padding: 2% 9% 2% 9%;
    font-weight:500;
    font-size:20px;
    
}
#mailMe:hover{
    background-color:white;
    color:$blue;
}




header{
    padding:1%;
    background-color:$pink;
    border-bottom: 1.5px solid $blue;

}

.line{
    color:$blue;
    font-weight:600;
    font-size:3rem;
    span{
        text-decoration: underline solid ;
        }    
    }
  

.medium{
    font-weight:600;
    
}
#groc{
    width:100%;
}

.ok{
    border-radius:10px;
}
.projTitle{
    font-weight:600;
    color:$pink;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: $blue;
    // margin-bottom:5%;
    font-size:4rem;
}
a:hover{
    text-decoration:none;
    cursor:pointer;
    color:white;
}


#logo{
    .cls-1{
        fill:$blue;
    }
    width:30px;
}
#profilePicture{
    width:70%;
    border: 10px solid $blue;
}

.smicons{
    display:inline;
}
.btn{
    border-radius:50px;
}
#message{
    height:200px;
    width:100%;
}
nav{
    padding: 0 10% 0 10%;
    
}
.square {
    height: 25px;
    width: 25px;
    display:inline-block;
    background-color:$blue;
  }
.button{
    border:none;
    background-color:$blue;
    border-radius:60px;
    width:100%;
    color:white;
    padding: 2% 6% 2% 6%;
    font-weight:500;
    font-size:20px;
}

.label{
    float:left;
}  
.displayImg{
    border-radius:15px;
}
.divDisp{
    margin:5% 5% 8% 5%;
    
}
.intro{
margin:15% 5% 5% 5%;
    h1{
        font-weight:bold;
        font-size:4rem;
        color:$blue;
        .outline{
        font-weight:600;
        color:$pink;
        -webkit-text-stroke-width: 2.5px;
        -webkit-text-stroke-color: $blue;
        }
    }
    h3{
        font-size:2rem;
    }
}
a{
    color:$blue;
  
}
footer{
    background-color:$black;
    width:100%;
    height:auto;
    color:white;
   
   .social-media{
       width:100%;
       a{
           color:white;
           width:100%;
       }
   }
}
.tag{
    color:$grey;
    font-size:20px;
}
.socialIcon{
    color:white;
    text-decoration: none;
    :hover{
        color:$blue;
    }
}

.container{
    margin-top:10%;
}
.subtitle{
    margin-top:4rem;
    font-weight:600;
    color:grey;
    font-size:2rem;
}

nav{
    li{
        font-size: 1.1rem;
        margin-right:5rem;
    }a{
        color:$black;
    }
    
}

#aboutPic{
    width:40%;
    padding:10%;
}
html {
    scroll-behavior: smooth;
  }
.navbar-light{
border-color:white;
}
// NAV
#navbar {
   
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }

  #navbar a:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background:$blue;
    transition: width .3s;
  }
  #navbar a:hover::after {
    width: 100%;
  }

@import 'mediaqueries.css';