body{
    margin:0;
    font-family: 'Roboto', sans-serif;}
header{
    padding:1%;
    background-color:white;

}
.projTitle{
    font-family: 'Roboto', sans-serif;
    font-weight:600;
}

.intro{
    margin:5%;
}
nav{
    display:inline;
}
.intro{
   
    h1{
        font-weight:600;
        font-size:4rem;
    }
    h3{
        font-size:2rem;
    }
}
.container{
    margin-top:5%;
}
.subtitle{
    font-weight:600;
    color:pink;
    font-size:2rem;
}