@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html {
  font-size: 16px;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #1e1e1e;
}

li {
  font-size: 17px;
  line-height: 1.80rem;
  margin-top: .5rem;
}

p {
  margin-bottom: 1em;
  color: #1e1e1e;
  font-size: 20px;
  line-height: 1.90rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {
  font-size: 2.074em;
}

h3 {
  font-size: 1.728em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

small, .text_small {
  font-size: 0.833em;
}

small, .text_small {
  font-size: 0.889em;
}

#navbar {
  background-color: white;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .nav-item {
  padding: 5px;
}

.bold {
  font-weight: 700;
}

.mail-btn {
  background-color: #2d54ff;
  color: white;
  padding: 10px 70px 10px 70px;
  height: auto;
  max-width: 100%;
  border-radius: 50px;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  color: white;
  background-color: #0846A6;
}

.outlineTitle {
  font-weight: 800;
  font-family: 'Playfair Display', serif;
  color: #0846A6;
}

.link {
  color: #0846A6;
  text-decoration: underline;
  font-weight: 700;
}

.outline {
  color: white;
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: #0846A6;
}

.socialIcon {
  color: #2d54ff;
}

.aboutSocialList {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#logo {
  width: 25px;
  height: auto;
}

#logo .cls-1 {
  fill: #2d54ff;
}

#header #pitchMargin {
  margin-top: 15%;
}

#header #tagline {
  color: #9E9E9E;
  max-width: 90%;
  font-size: 1.2em;
}

.viewResume {
  text-decoration: none;
}

.viewResume p {
  border-radius: 5px;
  background-color: #F45D58;
  color: white;
  display: inline;
  text-align: center;
  font-weight: 500;
  max-width: 100%;
  padding: 10px 25px 10px 25px;
}

.backarrow {
  color: #0846A6;
  display: block;
  font-size: 1.2rem;
}

.backarrow i {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: 7px;
  font-size: 1.8rem;
}

.nextarrow {
  color: #2d54ff;
  display: block;
  font-size: 1.2rem;
}

.nextarrow i {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: 7px;
  font-size: 1.8rem;
}

.subtitle {
  font-family: 'Playfair Display', serif;
  color: #0846A6;
  font-weight: 800;
  margin-bottom: 0;
}

#projects {
  margin-top: 15%;
}

#projects #work {
  font-weight: 700;
  color: #9E9E9E;
}

#projects h3 {
  color: #0846A6;
  font-weight: 600;
}

#projects .projCat {
  font-weight: 700;
  color: #9E9E9E;
}

#projects .card {
  background-color: white;
  padding: 10px;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0;
  border-style: none;
}

#projects a {
  display: block;
  -webkit-text-decoration: underline #F45D58;
          text-decoration: underline #F45D58;
}

#projects a .readProj {
  color: #F45D58;
  font-weight: 700;
  display: block;
}

#projects a .readProj i {
  top: 5px;
  position: relative;
}

.container h2 {
  margin-top: 1rem;
}

.container .category {
  color: #9E9E9E;
  font-weight: 700;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.container .section {
  margin-top: 2.5rem;
}

.bulleted {
  list-style: circle;
  list-style-position: inside;
}

.storyTitle {
  display: block;
  text-align: center;
}

#footer-img {
  max-width: 25%;
  height: auto;
}

footer {
  background-color: #F8F8F8;
}

footer h3 {
  font-weight: 700;
}

footer img {
  max-width: 10%;
}
/*# sourceMappingURL=new_css.css.map */