// VARIABLES
$pink:#F45D58;
$blue:#2d54ff;
$darkblue:#0846A6;
$black:#1e1e1e;
// $grey: #AEAEAE;
$grey: #9E9E9E;
$lightgrey:#F8F8F8;
$white:white;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;  font-weight: 400;
  line-height: 1.45;
  color: $black;
}
li{
    font-size:17px;
    line-height:1.80rem;
    margin-top:.5rem;
}
p {margin-bottom: 1em;
color:$black;
font-size:20px;
line-height: 1.90rem;}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Playfair Display', serif;

    // font-family: 'Montserrat', sans-serif;  font-weight: 400;
    font-weight: 400;
    line-height: 1.15;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.488em;
  }
  
  h2 {font-size: 2.074em;}
  
  h3 {font-size: 1.728em;}
  
  h4 {font-size: 1.44em;}
  
  h5 {font-size: 1.2em;}
  
  small, .text_small {font-size: 0.833em;}
  small, .text_small {font-size: 0.889em;}
// CSS
#navbar{
    background-color:white;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.10);
}
.navbar-nav{
align-items:center;
.nav-item{
    padding:5px;}
}

.bold{
    font-weight:700;
}
.mail-btn{
    background-color:$blue;
    color:$white;
    padding:10px 70px 10px 70px;
    height:auto;
    max-width:100%;
    border-radius:50px;
    text-align:center;
}
.button:hover{
    text-decoration:none;
    color:$white;
    background-color:$darkblue;

}
.outlineTitle{
    font-weight:600;
    font-family: 'Playfair Display', serif;
    color:$darkblue;
}
.link{
    color:$darkblue;
    text-decoration:underline;
    font-weight:700;
}
.outline{
    color:$white;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: $darkblue;
}
.socialIcon{
    color:$blue;
}
.aboutSocialList{
    display:inline-flex;
}
#logo{
    .cls-1{
        fill:$blue;
    }
    width:25px;
    height:auto;
}
#header{
margin-top:15%;
    #tagline{
        color:$grey;
        max-width:90%;
        font-size:1.2em;
    }
   
}
.viewResume{
    p{
    border-radius:5px;
    background-color:$pink;
    color:white;
    display:inline;
    text-align:center;
    font-weight:500;
    max-width:100%;
    padding:10px 15px 10px 15px;
    }
}
.backarrow{
    color:$darkblue;
    display:block;
            font-size:1.2rem;
    i{
        position:relative;
        display:inline-block;
        margin-right:5px;
        top:7px;
        font-size:1.8rem;    }
}
.nextarrow{
    color:$blue;
            display:block;
            font-size:1.2rem;
    i{
        position:relative;
        display:inline-block;
        margin-right:5px;
        top:7px;
        font-size:1.8rem;    }
}
.subtitle{
    // font-family: 'Alice', serif;
    font-family: 'Playfair Display', serif;
    color:$darkblue;
    font-weight:800;
    margin-bottom:0;
}

#projects{
    #work{
        font-weight:700;
        color:$grey;
    }
    margin-top:25%;
    h3{
        color:$darkblue;
        font-weight:600;
    }
    .projCat{
        font-weight:700;
        color:$grey;
    }

    .card{
        background-color:$white;
        padding:10px;
        box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.10);
        border-radius: 0;
        border-style: none;
    }
    a{
        display:block;
        text-decoration:underline $pink; 
        .readProj{
            color:$pink;
            font-weight:700;
            display:block;
            i{
                top:5px;
                position:relative;
            }
        }
    }
   

}

.container{
    h2{
        margin-top:1rem;
    }
    .category{
        color:$grey;
        font-weight:700;
        margin-top:1rem;
        font-family: 'Montserrat', sans-serif;

    }
    .section{
        margin-top:2.5rem;
    }
}
.bulleted{
list-style: circle;
list-style-position: inside;
}
.storyTitle{
    display:block;
    text-align:center;
}
#footer-img{
    max-width:25%;
    height:auto;}
footer{
    background-color:$lightgrey;
}
