// VARIABLES
$pink:#F45D58;
$darkpink:#ED4E49;
$blue:#2d54ff;
$darkblue:#0846A6;
$black:#1e1e1e;
// $grey: #AEAEAE;
$grey: #9E9E9E;
$lightgrey:#F8F8F8;
$white:white;

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {font-size: 20px;}
body, html {
    height: 100%;
  }
body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;  font-weight: 400;
  line-height: 1.45;
  color: $black;
}
li{
    font-size:18px;
    line-height: 1.20rem;
    margin-top:.5rem;
}
p {margin-bottom: 1em;
color:$black;
font-size:18px;
line-height: 1.45rem;
}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1.15;
  }
  
  h1 {
    margin-top: 0;
    font-size: 3.052em;
  }
  
  h2 {font-size: 2.441em;}
  
  h3 {font-size: 1.953em;}
  
  h4 {font-size: 1.563em;}
  
  h5 {font-size: 1.25em;}
  
  small, .text_small {font-size: 0.8em;}
// CSS
#navbar{
    background-color:white;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.10);
}
.navbar-nav{
align-items:center;
.nav-item{
    padding:5px;}
}

.bold{
    font-weight:700;
}
strong{
    font-weight:800;
    // color:$darkblue;
}
.mail-btn{
    background-color:$blue;
    color:$white;
    padding:10px 70px 10px 70px;
    height:auto;
    max-width:100%;
    border-radius:50px;
    text-align:center;
}
.button:hover{
    text-decoration:none;
    color:$white;
    background-color:$darkblue;

}
.outlineTitle{
    font-weight:800;
    font-family: 'Playfair Display', serif;
    color:$darkblue;
}
.link{
    position:relative;
    display:inline-block;
    color:$pink;
    text-decoration:underline;
    font-weight:700;
    img{
        max-width:1.2rem;
        position:relative;
        top:4px;
        margin-left:5px;
    }
}
.outline{
    color:$white;
    -webkit-text-stroke-width: 1.25px;
    -webkit-text-stroke-color: $darkblue;
}
.socialIcon{
    color:white;
    // color:$blue;

}
.socialIcon:hover{
    color:$blue;
}

.aboutSocialList{
    display:inline-flex;
    a{
        color:$darkblue;
    }
    a:hover{
        color:$blue;
    }
}
#logo{
    .cls-1{
        fill:$darkblue;
    }
    width:25px;
    height:auto;
}
#header{
.pitchMargin{
    margin-top:15%;
}
    #tagline{
        color:$black;
        max-width:90%;
        font-size:1.2em;
    }
   
}
.button{
    text-decoration:none;
    border-radius:5px;
    background-color:$pink;
    color:white;
    display:inline-block;
    text-align:center;
    font-weight:500;
    max-width:100%;
    padding:10px 25px 10px 25px;

}
.mainMargin{
    margin-top:4rem;
}
.button:hover{
    color:white;
    background-color:$darkpink;
}
a:hover{
    // text-decoration: none;
}
#bt-burg-icon{
    background-image:none;
}
.navbar-toggler-icon{
    background-image: none;
    i{
        font-size:40px;
        color:$darkblue;
    }
}
.backarrow{
    color:$darkblue;
    display:block;
            font-size:1.2rem;
    i{
        position:relative;
        display:inline-block;
        margin-right:5px;
        top:7px;
        font-size:1.5rem;    }
}
.caption{
    font-size:14px;
    color:$grey;
}
.nextarrow{
    color:$darkblue;
            display:block;
            font-size:1.2rem;
    i{
        position:relative;
        display:inline-block;
        margin-right:5px;
        top:7px;
        font-size:1.5rem;    }
}
.subtitle{
    // font-family: 'Alice', serif;
    font-family: 'Playfair Display', serif;
    // color:$darkblue;
    color:$darkpink;
    font-weight:800;
    margin-bottom:0;
}
#navbar {
    position: fixed;
    /* Make it stick/fixed */
    top: 0;
    /* Hide the navbar 50 px outside of the top view */
    width: 100%;
    /* Full width */
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
  }
  
  #navbar .nav-link:after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: $darkblue;
    -webkit-transition: width .3s;
    transition: width .3s;
  }
  
  #navbar .nav-link:hover::after {
    width: 100%;
  }
  .margintop{
      margin-top:6rem!important;
  }
.card{
    padding:10px;
    background: #FFFFFF;
    box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.08);
    border-radius: 0;
    border:none;

}
#projects{
    margin-top:10%;
    #work{
        font-weight:700;
        color:$grey;
    }

    h3{
        color:$darkblue;
        font-weight:600;
    }
    .projCat{
        font-family: 'Montserrat', sans-serif;
        font-weight:700;
        color:$grey;
    }

   
    a{
        display:block;
        text-decoration:underline $pink; 
        .readProj{
            color:$pink;
            font-weight:700;
            display:block;
            i{
                top:5px;
                position:relative;
            }
        }
    }
   

}
.process{
    padding:1rem;
    position:relative;
    text-align:center;
.row{
    .col-sm-4{
        img{
            max-width:30%;
        }
    }

    .col-sm-3{
        img{
            max-width:30%;
        }
    }
}
}
.container{
    margin-top:2rem;
    h2{
        margin-top:1rem;
    }
    .category{
        color:$grey;
        font-weight:700;
        margin-top:1rem;
        font-family: 'Montserrat', sans-serif;

    }
    .section{
        margin-top:2.5rem;
    }
}
.bulleted{
list-style: disc;
list-style-position:outside;
margin-left:1rem;

}

.storyTitle{
    display:block;
    text-align:center;
}
#footer-img{
    max-width:25%;
    height:auto;}
footer{
    background-color:$darkblue;
    h3{
        color:white;
        font-weight:700;
    }
    img{
        max-width:5rem;
    }
}
