@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
html {
  font-size: 20px;
}

body, html {
  height: 100%;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #1e1e1e;
}

li {
  font-size: 18px;
  line-height: 1.20rem;
  margin-top: .5rem;
}

p {
  margin-bottom: 1em;
  color: #1e1e1e;
  font-size: 18px;
  line-height: 1.45rem;
}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small, .text_small {
  font-size: 0.8em;
}

#navbar {
  background-color: white;
  -webkit-box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-nav .nav-item {
  padding: 5px;
}

.greyRect {
  background-color: #F8F8F8;
  padding: 15px;
}

.bold {
  -webkit-text-stroke-width: thin;
  font-weight: 900;
}

strong {
  -webkit-text-stroke-width: thin;
  font-weight: 900;
}

.blue {
  color: #0846A6;
}

.pink {
  color: #F45D58;
}

.mail-btn {
  background-color: #2d54ff;
  color: white;
  padding: 10px 70px 10px 70px;
  height: auto;
  max-width: 100%;
  border-radius: 50px;
  text-align: center;
}

.button:hover {
  text-decoration: none;
  color: white;
  background-color: #0846A6;
}

.outlineTitle {
  font-weight: 800;
  font-family: 'Playfair Display', serif;
  color: #0846A6;
}

.link {
  position: relative;
  display: inline-block;
  color: #F45D58;
  text-decoration: underline;
  font-weight: 700;
}

.link img {
  max-width: 1.2rem;
  position: relative;
  top: 4px;
  margin-left: 5px;
}

.list {
  list-style-type: none;
}

.list li:before {
  content: '\2014';
  margin-right: 0.5rem;
}

.link:hover {
  color: #ED4E49;
}

.outline {
  color: white;
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: #0846A6;
}

.socialIcon {
  color: white;
}

.socialIcon:hover {
  color: #2d54ff;
}

.circle {
  width: 2.2em;
  height: 2.2em;
  background-color: pink;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle:hover {
  border: solid red 2px;
}

.socialIcons a {
  color: #F45D58;
  text-decoration: none;
}

.socialIcons a:hover {
  color: #ED4E49;
}

#logo {
  width: 25px;
  height: auto;
}

#logo .cls-1 {
  fill: #0846A6;
}

#header .pitchMargin {
  margin-top: 30%;
}

#header #tagline {
  color: #1e1e1e;
  font-size: 1.2em;
  line-height: 1.65rem;
}

.button {
  text-decoration: none;
  border-radius: 5px;
  background-color: #F45D58;
  color: white;
  display: inline-block;
  text-align: center;
  font-weight: 500;
  max-width: 100%;
  padding: 10px 25px 10px 25px;
}

.mainMargin {
  margin-top: 4rem;
}

.button:hover {
  color: white;
  background-color: #ED4E49;
}

#bt-burg-icon {
  background-image: none;
}

.navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler-icon i {
  font-size: 40px;
  color: #0846A6;
}

.backarrow {
  color: #0846A6;
  display: block;
  font-size: 1.2rem;
}

.backarrow i {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: 7px;
  font-size: 1.5rem;
}

.caption {
  font-size: 14px;
  color: #9E9E9E;
}

.nextarrow {
  color: #0846A6;
  display: block;
  font-size: 1.2rem;
}

.nextarrow i {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  top: 7px;
  font-size: 1.5rem;
}

.subtitle {
  font-family: 'Playfair Display', serif;
  color: #ED4E49;
  font-weight: 800;
  margin-bottom: 0;
}

#navbar {
  position: fixed;
  /* Make it stick/fixed */
  top: 0;
  /* Hide the navbar 50 px outside of the top view */
  width: 100%;
  /* Full width */
  -webkit-transition: top 0.3s;
  transition: top 0.3s;
  /* Transition effect when sliding down (and up) */
}

#navbar .nav-link:after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #0846A6;
  -webkit-transition: width .3s;
  transition: width .3s;
}

#navbar .nav-link:hover::after {
  width: 100%;
}

.margintop {
  margin-top: 6rem !important;
}

.card {
  padding: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 0;
  border: none;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#projects #work {
  font-weight: 700;
  color: #9E9E9E;
}

#projects h3 {
  color: #0846A6;
  font-weight: 600;
}

#projects .projCat {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #9E9E9E;
}

#projects a {
  display: block;
  -webkit-text-decoration: underline #F45D58;
          text-decoration: underline #F45D58;
}

#projects a .readProj {
  color: #F45D58;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  display: block;
}

#projects a .readProj i {
  top: 5px;
  position: relative;
}

.launch {
  vertical-align: middle;
}

.process {
  padding: 1rem;
  position: relative;
  text-align: center;
}

.process .row .col-sm-4 img {
  max-width: 30%;
}

.process .row .col-sm-3 img {
  max-width: 30%;
}

.container {
  margin-top: 2rem;
}

.container h2 {
  margin-top: 1rem;
}

.container .category {
  color: #9E9E9E;
  font-weight: 700;
  margin-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.container .section {
  margin-top: 2.5rem;
}

.bulleted {
  list-style: disc;
  list-style-position: outside;
  margin-left: 1rem;
}

.storyTitle {
  display: block;
  text-align: center;
}

#footer-img {
  max-width: 25%;
  height: auto;
}

footer {
  background-color: #0846A6;
}

footer h3 {
  color: white;
  font-weight: 700;
}

footer img {
  max-width: 5rem;
}

#top, #bottom, #left, #right {
  background: #2d54ff;
  position: fixed;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 15px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 15px;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}
/*# sourceMappingURL=new_css.css.map */