
.leftt{
  background-color:red;
  float: left;
  width:40%;
  height:100%;
  padding: 1rem;
}
.rightt{
  background-color:green;
  float:right;
  width:60%;
  height:100%;
  padding:1rem;

}
// MOBILE
@media (max-width: 992px) {
  .leftt{
    position:relative;
    background-color:pink;
    width:100%;
  }
  .rightt{
    position:relative;
    background-color:blue;
    width:100%;
  }
    }