
@media only screen and (min-width: 500px){
  // p{background-color:grey;}
  .contactTwo{
    margin-left:3rem;
  }

}
@media only screen and (min-width: 576px){
  // p{background-color:red;}
  .contactTwo{
    margin-left:8rem;
  }
  .sectionOne{
  .social{
    // margin-left:8rem;

  }
}
}

@media only screen and (min-width: 768px){
  // p{background-color:green;}
  .sectionOne{
    float:left;
    height:100%;
    width:40%;
    .contactTwo{
      margin-left:2rem;

  }
    .contact{
      margin-bottom:2rem;
      span{
        display:block;
        margin-bottom:1rem;
        margin-left:2rem;
      }
    }
    .social{
     margin-top:1rem;

    }
  }
  .sectionTwo{
    float:right;
    width:60%;
  }
  .skills{
    margin-left:3rem;
  }
}
@media only screen and (min-width: 992px){

  // p{background-color:blue;}
  .sectionOne{
    .contactTwo{
      margin-left:3rem;

  }
  }
}
@media only screen and (min-width: 1200px){
// p{background-color:pink;}
.sectionOne{
  float:left;
  height:100%;
  width:30%;
}
.sectionTwo{
  float:right;
  width:70%;
}

}