// VARIABLES
$pink:#ffe2ff;
$blue:#2d54ff;
$darkblue:#1b38bd;
$black:#1e1e1e;
$grey: #AEAEAE;
$white:white;
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: $black;
}
li{
    font-size:17px;
    line-height:1.80rem;
    margin-top:.5rem;
}
p {margin-bottom: 1em;
color:$black;
font-size:17px;
line-height: 1.80rem;}

h1, h2, h3, h4, h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
  }
  
  h1 {
    margin-top: 0;
    font-size: 2.488em;
  }
  
  h2 {font-size: 2.074em;}
  
  h3 {font-size: 1.728em;}
  
  h4 {font-size: 1.44em;}
  
  h5 {font-size: 1.2em;}
  
  small, .text_small {font-size: 0.833em;}
  small, .text_small {font-size: 0.889em;}
// CSS
#navbar{
    background-color:white;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.10);
}
.navbar-nav{
align-items:center;
.nav-item{
    padding:5px;}
}

.bold{
    font-weight:700;
}
.btn{
    background-color:$blue;
    color:$white;
    padding:10px 50px 10px 50px;
    height:auto;
    max-width:80%;
    border-radius:50px;
    text-align:center;
    position:relative;
    display:block;
    a{
        color:white;
    }
}
.button:hover{
    text-decoration:none;
    color:$white;
    background-color:$darkblue;

}
.bulleted{
    list-style: circle;
text-decoration:none;
li{
    list-style-position: outside;

}
}
.outlineTitle{
    font-weight:800;
    color:$blue;
}
.outline{
    color:$white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: $blue;
}
.socialIcon{
    color:$blue;
}
.socials{
   ul{
       display:inline-flex;
       margin-top:0;
   }
}
#email{
    color:$blue;
    text-decoration: underline;
}
#logo{
    .cls-1{
        fill:$blue;
    }
    width:25px;
    height:auto;
}

.subtitle{
    color:$grey;
    font-weight:600;
    margin-bottom:0;
}

.container{
    h2{
        margin-top:1rem;
    }
    .category{
        color:$grey;
        font-weight:500;
        margin-top:1rem;
    }
    .section{
        margin-top:2.5rem;
    }
}
.bulleted{
list-style: circle;
list-style-position: inside;
}
